body {
    background: url('https://cdn.discordapp.com/attachments/911590460399693864/1102908203500568576/0QNFyGU6j5dAAAAAElFTkSuQmCC.png');
        background-size: cover;
        background-position: center;
        height: 100vh;
        margin: 0;
      
}
